html, body {
  height: 100%;
  width: 100%;
}

.holdingApp {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

.comicGrid {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.comicCell {
  position: absolute;
  z-index: 3;
}

.comic {
  position: relative;
  z-index: 4;
}
